/* width */
::-webkit-scrollbar {
 width: 5px;
 height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
 background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #555;
}
.zipupload {
	width: 300px;
	margin: 0 auto !important;
}
.overflow td {
	font-size: 12px !important;
}
.overflow {
    width: 96%;
    overflow-x: auto;
    margin-bottom: 30px;
    margin-left: 17px;
}
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: 'Nunito', sans-serif !important;
	background-color: #f3f3f3 !important;
}
* {
	outline: none !important;
}
a {
	transition-duration: .2s, 1s;
	transition-timing-function: linear;
	outline: none;
}
a:hover {
	text-decoration: none;
}
select {
	outline: none;
}
input {
	outline: none;
}
textarea {
	outline: none;
}
.paddingLR10 {
	padding-left: 10px;
	padding-right: 10px;
}
.text_white {
	color: #fff !important;
}
.text_pink {
	color: #00b3fd !important;
}
.text_gray {
	color: #888 !important;
}
.no_border {
	border: none !important;
}
.no_background {
	background: none !important;
}
.bg-white {
	background-color: #fff;
}
.bg-gray {
	background-color: #2d2d2e;
}
.bg-orange {
	background-color: #f64a0b;
}
.margin-top-bottom-12 {
	margin-top: 9px;
}
.navbar-nav > li > a {
	border: 1px solid transparent;
	color: #9a9a9a !important;
	padding-bottom: 10px;
	padding-top: 10px;
	text-transform: uppercase;
}
.nav > li > a:focus, .nav > li > a:hover {
	background-color: transparent;
	text-decoration: none;
	border: 1px solid #00aff6;
	color: #00aff6;
	border-radius: 4px;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {	/*background:#e51937 !important;*/
	color: #0c1238 !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
	background: #e51937 !important;
	color: #fff !important;
}
#navigationMenu {
	margin-left: 14%;
	margin-right: 10%;
	width: 80%;
}
.fs-20 {
	font-size: 20px !important;
}
.fs-22 {
	font-size: 22px !important;
}
.fs-24 {
	font-size: 24px !important;
}
.fs-26 {
	font-size: 26px !important;
}
.fs-28 {
	font-size: 28px;
}
.fs-30 {
	font-size: 30px;
}
.fa-12x {
	font-size: 11px;
}
.padding20 {
	padding: 20px !important;
}
.no_padding {
	padding: 0px !important;
}
.no_margin {
	margin: 0px !important;
}
.fs-35 {
	font-size: 35px !important;
}
.fs-50 {
	font-size: 50px !important;
}
.fs-76 {
	font-size: 76px !important;
}
.fs-10 {
	font-size: 10px !important;
}
.fs-12 {
	font-size: 12px;
}
.fs-14 {
	font-size: 14px;
}
.fs-16 {
	font-size: 16px;
}
.fs-18 {
	font-size: 18px;
}
.dropdown-menu {
	background: #fff !important;
	padding: 0px !important;
}
.dropdown-menu > li > a {
	color: #000 !important;
	padding: 7px 0 7px 10px !important;
}
.dropdown-menu>li>a:hover {
	color: #fff !important;
	background-color: #00b3fd;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
}
header {
	width: 100%;
	float: left;
}
.header-box {
	width: 100%;
	float: left;
}
#back-top {
	bottom: 25px;
	position: fixed;
	right: 20px;
}
#back-top a {
	color: #FFF;
	background-color: #57a8cf;
}
#back-top a:hover {
	background-color: #5fb046;
}
.top-nav-white {
	width: 100%;
	float: left;
	height: 70px;
	background-color: #fff;
	box-shadow: 0px 5px 10px #bfbfbf;
	margin-bottom: 50px;
}
.bottom-part-box {
	width: 100%;
	float: left;
	margin-bottom: 0px;
}
.top-header-part {
	width: 100%;
	float: left;
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e4e4e4;
	margin-top: 20px;
}
.top-header-part h2 {
	width: 100%;
	float: left;
	margin: 0px;
	text-align: center;
	font-size: 30px;
	color: #4a4a4a;
}
.top-header-part h3 {
	width: 100%;
	float: left;
	margin: 0px;
	text-align: center;
	font-size: 15px;
	color: #b7b7b7;
	margin-top: 7px;
}
.arrow-green {
	position: absolute;
	color: #6848c1;
	font-size: 22px;
	left: 0px;
}
.header-part-reserch {
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 30px;
}
.research-box-content {
	width: 175px;
	display: inline-block;
	background-color: #1788ca;
	color: #FFF;
	padding-top: 40px;
	padding-right: 15px;
	padding-bottom: 40px;
	padding-left: 15px;
	margin-right: 3px;
	margin-left: 3px;
}
.research-box-content h3 {
	width: 100%;
	float: left;
	margin: 0px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	font-weight: 500;
}
.research-box-content h4 {
	width: 100%;
	float: left;
	margin: 0px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	margin-top: 7px;
}
.white-box {
	width: 100%;
	float: left;
	background-color: #fff;
	box-shadow: 0px 4px 10px #e0e0e0;
	padding-top: 0px;
	padding-bottom: 14px;
	margin-bottom: 35px;
}
.white-box-heading {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	padding-bottom: 11px;
	padding-top: 14px;
	background-color: #6848c1;
}
.red-number-box {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 150px;
	color: #6848c1;
	font-weight: 500;
}
.red-number-box span {
	font-size: 60px;
}
.great-start {
	width: 100%;
	float: left;
	margin: 0px;
	text-align: center;
	font-size: 24px;
	color: #4a4a4a;
	font-weight: 600;
	margin-bottom: 10px;
}
.great-start-my {
	width: 100%;
	float: left;
	margin: 0px;
	text-align: center;
	font-size: 16px;
	color: #4a4a4a;
	font-weight: 500;
	margin-bottom: 20px;
}
.loding-bar-box {
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 40px;
}
.loading-bar-center {
	display: inline-block;
	width: 260px;
}
.bar-text {
	width: 100%;
	float: left;
	margin: 0px;
	text-align: center;
	font-size: 35px;
	color: #6848c1;
	font-weight: 500;
}
.bar-box-line {
	width: 100%;
	float: left;
	background-color: #909090;
	height: 10px;
}
.green-bar {
	width: 70%;
	float: left;
	background-color: #6848c1;
	height: 10px;
}
.bar-box-border {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e4e4e4;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-bottom: 35px;
}
.accordion-box-my .panel-title {
	width: 100%;
	float: left;
}
.accordion-box-my .panel-heading {
	width: 100%;
	float: left;
}
.accordion-box-my .panel-collapse {
	width: 100%;
	float: left;
}
.accordion-box-my .panel {
	width: 100%;
	float: left;
	border-radius: 0px !important;
	border-right-style: none;
	border-left-style: none;
	margin-top: 0px!important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0);
	border-top-style: none;
}
.accordion-box-my .panel-default > .panel-heading {
	color: #333;
	background-color: transparent;
	border-color: #ddd;
	border-radius: 0px !important;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .00);
}
.accordion-box-my .panel-default > .panel-heading i {
	float: right;
}
.accordion-box-my .panel-default > .panel-heading a {
	width: 100%;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
	color: #4a4a4a;
	font-weight: 600;
}
.accordion-box-my .panel-body {
	padding-left: 100px;
	padding-right: 100px;
}
.box-panelfull {
	width: 100%;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 600;
}
.box-panel-text {
	width: 81%;
	float: left;
}
.box-panel-bar {
	width: 10%;
	float: left;
	padding-top: 5px;
}
.box-panel-yes {
	width: 9%;
	float: left;
	padding-left: 40px;
	color: #6848c1;
}
.bars-yes {
	width: 100%;
	float: left;
	background-color: #909090;
	height: 8px;
}
.bars-yes-full {
	width: 100%;
	float: left;
	background-color: #6848c1;
	height: 8px;
}
a {
	text-decoration: none !important;
}
.not-head {
	width: 100%;
	float: left;
	margin: 0px;
	text-align: center;
	font-size: 28px;
	color: #4a4a4a;
	font-weight: 600;
	margin-bottom: 18px;
}
.btn-green {
	width: 100%;
	float: left;
	margin-bottom: 30px;
	margin-top: 10px;
	text-align: center;
}
.btn-green a, .btn-green input, .btn-green button {
	background-color: #6848c1;
	padding-top: 8px;
	padding-right: 35px;
	padding-bottom: 8px;
	padding-left: 35px;
	border-radius: 35px;
	color: #fff;
	border: none;
}
.btn-green a:hover, .btn-green input:hover, .btn-green button:hover {
	color: #FFF;
	background-color: #168359;
}
.footer-box {
	width: 100%;
	float: left;
	text-align: center;
}
.logo-footer {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
svg#Layer_1 {
	transform: rotate(180deg);
	margin-top: -42px;
	position: relative;
	z-index: -1;
}
.st0 {
	fill: #6848c1;
}
.top-header {
	background-color: #6848c1;
	float: left;
	height: auto;
	width: 100%;
	text-align: center;
	padding-top: 30px;
}
.top-header img {
	width: 270px;
}
.copy-reight {
	position: relative;
	bottom: -101px;
	color: #fff;
}
.new-box-select {
	margin-top: 60px;
	margin-bottom: 50px;
}
.new-box-select .great-start-my {
	margin-top: 20px;
}
.table-box-select {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.table-box-select-new {
	width: 100%;
	float: left;
}
.table-box-select-new table {
	margin-bottom: 25px;
}
.table-box-select-new table thead tr td {
	padding: 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #6848c1;
	background-color: #6848c1;
	color: #fff;
	border-color: #6848c1;
}
.table-box-select-new table tbody tr td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d7d7d7;
	padding-top: 14px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.table-box-select-new table tbody tr td label {
	cursor: pointer;
}
.table-box-select-new table tbody tr td label input {
	display: none;
}
.table-box-select-new table tbody tr td label span {
	display: inline-block;
	height: 20px;
	width: 20px;
	border: 1px solid #a7a7a7;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: sub;
}
.table-box-select-new table tbody tr td label input[type="checkbox"]:checked + span {
	background-color: #6848c1;
}
.table-box-select-new table tbody tr td label.active input + span {
	background-color: #6848c1;
}


.overflow table {
	margin-bottom: 25px;
}
.overflow table thead tr td {
	padding: 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #6848c1;
	background-color: #6848c1;
	color: #fff;
	border-color: #6848c1;
}
.overflow table tbody tr th {
	padding: 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #6848c1;
	background-color: #6848c1;
	color: #fff;
	border-color: #6848c1;
}
.overflow table tbody tr td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d7d7d7;
	padding-top: 14px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #f1f1f1;
}

/*------------------- Responsive Css Start -----------------*/

@media screen and (max-width: 767px) {
svg#Layer_1 {
	margin-top: -50px;
}
.top-header {
	padding-bottom: 10px;
}
.top-header-part h2 {
	margin-top: 30px;
}
.research-box-content {
	margin-bottom: 15px;
}
.accordion-box-my .panel-default > .panel-heading {
	padding-left: 15px;
	padding-right: 15px;
}
.accordion-box-my .panel-body {
	padding-left: 15px;
	padding-right: 15px;
}
.box-panel-text {
	width: 60%;
}
.box-panel-bar {
	width: 13%;
}
.copy-reight {
	background-color: #6848c1;
	height: 75px;
	padding-top: 15px;
}
.bar-box-border {
	padding-left: 10px;
	padding-right: 10px;
}
.great-start-my {
	padding-left: 10px;
	padding-right: 10px;
}
}
 @media screen and (min-width: 365px) and (max-width: 450px) {
svg#Layer_1 {
	margin-top: -64px;
}
}
 @media screen and (min-width: 451px) and (max-width: 560px) {
svg#Layer_1 {
	margin-top: -78px;
}
}
 @media screen and (min-width: 561px) and (max-width: 685px) {
svg#Layer_1 {
	margin-top: -95px;
}
}
 @media screen and (min-width: 686px) and (max-width: 767px) {
svg#Layer_1 {
	margin-top: -120px;
}
}
 @media screen and (min-width: 495px) and (max-width: 767px) {
#Layer_12 {
	margin-top: -15px;
}
}
 @media screen and (min-width: 768px) and (max-width: 991px) {
.research-box-content {
	width: 170px;
}
svg#Layer_1 {
	margin-top: 0px;
}
.copy-reight {
	background-color: #6848c1;
	height: 75px;
	padding-top: 15px;
	bottom: -140px;
}
}
 @media screen and (min-width: 992px) and (max-width: 1199px) {
svg#Layer_1 {
	margin-top: -20px;
}
.copy-reight {
	background-color: #6848c1;
	height: 75px;
	padding-top: 15px;
	bottom: -140px;
}
}

/*------------------- Responsive Css End -----------------*/

.steps{
border-radius: 35px !important;
}
.steps.btn-info {
    background-color: #6848c1;
    border-color: #6848c1;
	    margin-left: 2px;
    margin-right: 2px;
}
.btn:active, .btn.active {
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .125);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .125);
}
.stepsdata .steps.btn-info:hover{
    background-color: #ac2925;
    border-color: #761c19;
}
.white-box.new-box-select .btn-primary {
    color: #fff;
     background-color: #ac2925;
    border-color: #761c19;
	border-radius: 35px !important;
}
.white-box.new-box-select .btn-success{
border-radius: 35px !important;
background-color: #6848c1;
    border-color: #6848c1;
}
